{% extends 'base.html' %}
{% load socialaccount %}
{% block content %}

<!-- Taken from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_transparent_bottom -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
</style>
<!-- found at https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_inline_form -->

<body>

<style>
body {font-family:"Poppins", sans-serif;}
* {box-sizing: border-box;}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  width: 575px;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}
</style>






<div class="container">
  <img src="/media/images/uva4.png" style="width:100%;">
  <div class="content">
    <h1>Search for Properties</h1>
  </div>
</div>

</body>


<h1 class="container text-center"></h1>
<body>
<section>
  {% if user.is_authenticated %}
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display mb-4">
          </h1>
          <p class="w3-center"> Welcome {{ user.username|title }}, search for your next home! </p>
          <div class="search">
            <form class="form-inline" action="{% url 'search_results' %}">

                  <label>Max Bedrooms</label>
                  <select name="bedrooms" class="form-control">
                    <option> 1 </option>
                    <option> 2 </option>
                    <option> 3 </option>
                    <option> 4 </option>
                    <option> 5 </option>
                    <option> 6 </option>
                    <option> 7 </option>
                    <option> 8 </option>
                    <option> 9 </option>
                    <option> 10 </option>
                      {% if key == values.bedrooms %}
                        selected
                      {% endif %}
                  </select>

                    <label>Max Bathrooms</label>
                  <select name="bathrooms" class="form-control">
                    <option> 1 </option>
                    <option> 1.5 </option>
                    <option> 2 </option>
                    <option> 2.5 </option>
                    <option> 3 </option>
                    <option> 3.5 </option>
                    <option> 4 </option>
                      {% if key == values.bathrooms %}
                        selected
                      {% endif %}
                  </select>


                    <label>Max Price</label>
                  <select name="price" class="form-control">
                    <option> 600 </option>
                    <option> 700 </option>
                    <option> 800 </option>
                    <option> 900 </option>
                    <option> 1000 </option>
                    <option> 2000 </option>
                    <option> 3000 </option>
                    <option> 4000 </option>
                    <option> 5000 </option>
                      {% if key == values.price %}
                        selected
                      {% endif %}
                  </select>

              <button type="submit">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% else %}
            <a href="{% provider_login_url 'google' %}">Login With Google To Use Search Feature</a>
  {% endif %}
  </section>
</body>

{% endblock %}