{% extends 'base.html' %}


{% block content %}

<div class="container">
    <br>
    <div>
        <div>
        <div>
            <div>
            </div>
            <div >
                <h3 class="text-center">
                   <p>{{ listing.title }}</p>
                </h3>
                 <div class="content-section" align="center">
                        <div class="media">
                            {% if listing.image %}
                                <img src="{{ listing.image.url }}" width="250",height="250">
                            {% endif %}
                        </div>
                 </div>
                <h5 class="text-center">Street Address: {{ listing.street_address }}</h5>
                <div>
                      <i></i> Description: {{ listing.description }}
                </div>
                <div>
                    <i></i> Bedrooms: {{ listing.bedrooms }}
                </div>
                <div>
                    <i></i> Bathrooms: {{ listing.bathrooms }}
                </div>
                <div>
                    <h5 class="text-center"> Rating: {{ average_rating }}</h5>
                </div>
            </div>
        </div>
    </div>
    </div>

    <br>
    <div>
        <div>
            <h3 class="text-center">Add Review</h3>
            <form action="{% url 'add_review' listing.id %}" method="POST">
                {% csrf_token %}
                <label for="description">Review</label>
                <textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea>

                <label for="rangeInput">Rating</label>
                <input type="range" id="rangeInput"
                    name="rating" min="0" max="10" value="0" step="0.5"
                    oninput="amount.value=rangeInput.value">

         <output name="rating" id="amount" for="rangeInput">0</output>

                <br>
                <input type="submit" class="btn btn-danger" value="Add Review">
            </form>
        </div>
    </div>
    <br>
    <div>
        <div>
            <h3 class="text-center">Reviews</h3>
                {% for review in reviews %}
                    <div>
                       <h5> {{ review.description }} - {{ review.rating }} </h5>
                        <h5> </h5>
                    </div>
                <br>
                {% endfor %}
        </div>
        <div class="fixed-bottom">
            <a href="{% url 'listing' %}" class = "btn btn-warning btn-rounded">Back to Browse Listings</a>

        </div>
    </div>
</div>


{% endblock %}