{% extends 'base.html' %}

{% load socialaccount %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.container img {vertical-align: middle;}

.container .content {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

input[type=submit] {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: royalblue;
}

a.button{
  color: #2da1c1;
  font-size: 15px;
  text-decoration: none;
  left: 252px;
  float: right;

}
a.button:hover
{
color: #f90;
text-decoration: underline;
left: 252px;
float: right;
}


</style>
<body>

<div class="container" xmlns="http://www.w3.org/1999/html">
    <br>
    <div>
        <div>
        <div>
            <div>
            </div>
            <div >
                <h3 class="text-center">
                   <p>{{ listing.title }} - ${{ listing.price }}</p>
                </h3>
                 <div class="content-section" align="center">
                        <div class="media">
                            {% if listing.image %}
                                <img src="{{ listing.image.url }}" width="250",height="250">
                            {% endif %}
                        </div>
                 </div>
                <h5 class="text-center">Street Address: {{ listing.street_address }}</h5>
                <hr>
                <div>
                      <b>Description:</b> {{ listing.description }}
                </div>
                <div>
                    <b>Bedrooms:</b> {{ listing.bedrooms }}
                </div>
                <div>
                    <b>Bathrooms:</b> {{ listing.bathrooms }}
                </div>
                <hr>
                <div>
                    <h5 class="text-center"> <b>Rating: </b> {{ average_rating }}/10</h5>
                </div>
            </div>
        </div>
    </div>
    </div>

    <br>
    <div class="text-center">
        {% if user.is_authenticated %}
        <div>
            <h3 class="text-center"> <b>Add Review </b></h3>
            <form class="w3-container" action="{% url 'add_review' listing.id %}" method="POST">
                {% csrf_token %}
                <label for="description">Review</label>
                <textarea name="description" id="description" cols="30" rows="5" class="form-control"></textarea>

                <label for="rangeInput">Rating</label>
                <input class="w3-input" type="range" id="rangeInput"
                    name="rating" min="0" max="10" value="0" step="0.5"
                    oninput="amount.value=rangeInput.value">

         <output name="rating" id="amount" for="rangeInput">0</output>

                <br>
                <input type="submit" class="btn btn-danger" value="Add Review">
            </form>
        </div>
        {% else %}
            <a href="{% provider_login_url 'google' %}">Login With Google To Add Review</a>
        {% endif %}
    </div>
    <br>




<!-- Card Feature found at https://getbootstrap.com/docs/5.0/components/card/ -->

    <div>
        <div>
            <h3 class="text-center"> <b>Reviews </b></h3>
                {% for review in reviews %}

                    <div class="card">
                        <h5 class="card-header"> <b>Rating: </b>{{ review.rating }}/10</h5>
                        <div class="card-body">
                            <h5 class="card-title"> <font size="-1.5"> <b>User: </b>{{ user.username }}</font></h5>
                            <p class="card-text"> <font size="-0.25"> <b>Review: </b>{{ review.description }}</font></p>
                        </div>
                    </div>
                {% endfor %}
        </div>

        <a class="button" style="font-family:'Arial'" href="{% url 'listing' %}">Back to Browse Listings</a>



    </div>


</div>
</body>


{% endblock %}
