<!DOCTYPE html>
<html>
  <head>
    <title>UVA Housing Map</title>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
   <h1 style='text-align: center'>UVA Housing Map</h1>
   <div id='map' style='width: 99vw; height: 90vh;'></div>
   <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoibW92ZXMiLCJhIjoiY2tsNW5jZzhiMHp3bzJ4bWdvbnhpOTJodCJ9.Q8hOQlRCi5scPFvkHs60cw';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/moves/ckw02kjx01a6u14p67rw7tfni',
            center: [-78.5080, 38.0336],
            zoom: 13
        });
   </script>
  </body>
</html>