{% extends 'base.html' %}

{% block content %}

<form action="{% url 'submit' %}" method="post">
{% csrf_token %}

    <div class="container text-center">
            <h1>{{ review_title }}</h1>
            <p>Please enter a review title below</p>
            <fieldset>
            <legend><h1>{{ review_title.review_title }}</h1></legend>
                <input type="text" name="title">
            </fieldset>

            <h1>{{ review_description }}</h1>
            <p>Please enter your review below</p>
            <fieldset>
            <legend><h1>{{ review_description.review_description }}</h1></legend>
                <input type="text" name="text">
            </fieldset>
            <input type="submit" value="Post">
         </div>
    <br>
    <br>
    <br>
    <br>
    <div class="sticky-top">
            <a href="{% url 'reviews_list' %}" class = "btn btn-primary">Go to Reviews Page</a>

    </div>
</form>

{% endblock %}